/* style.css */

/* Reset CSS */
body, h1, h2, p, ul, li, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.header h1 {
    font-size: 24px;
}

.header table {
    margin-top: 10px;
}

.header table td {
    padding: 0 10px;
}

.header a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

/* Profile Styles */
.profile-container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.profile-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-card {
    margin-top: 10px;
}

.profile-card .item {
    margin-bottom: 10px;
}

.profile-card label {
    font-weight: bold;
    margin-right: 5px;
}

.tentang {
    text-align: left;
}

.poto {
    margin-top: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

h1 {
    text-align: center;
}



/* Profile Description Styles */
.profile-description {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.profile-description p {
    margin-bottom: 10px;
}

.profile-description h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.profile-description ul {
    list-style-type: square;
    margin-bottom: 10px;
}

.profile-description ul li {
    margin-bottom: 5px;
}

/* Social Media Styles */
.social-media-link {
    display: inline-block;
    margin-right: 10px;
}

.social-media-icon {
    width: 30px;
    height: 30px;
}
